{
  "TOKEN": "MTAwOTE1Nzc5NTY4MzIzNzkyOA.GM9Fmy.fPiQE7DS_iG9SyKKd0flPhFkgdKb5kVN4vWEUA",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "!",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
